$main-header-height:60px;


// Font Size
$font-size-xs: 8pt;
$font-size-s: 9pt;
$font-size-m: 10pt;
$font-size-1: 11pt;
$font-size-xl: 12pt;
$font-size-xx1: 13pt;
$font-size-xxxl: 14pt;

// Font weight
$font-weight-light: 200;
$font-weight-semilight: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;


//Colors
$text-color-primary: #eff1fa;
$text-color-secondary: #cbcddeae;
$background-color-primary:#eff1fa;
$background-color-secondary:#cbcddeae;
