@import './global-variables.scss';

.main-body-wrapper {
  position: absolute;
  top: $main-header-height;
  width: $page-wrapper-width;
  background-color: $background-color-secondary;

  .router-outlet-container {
    padding: $page-wrapper-padding-y $content-wrapper-padding-x;
    min-height: $main-wrapper-height;
  }
}

.header,
.footer {
  width: $page-wrapper-width;
  padding: 0 $page-wrapper-padding-x;
  display: flex;
  align-items: center;
  background-color: $background-color-primary;
  color: $text-color-primary;
  font-weight: $font-weight-normal;
  justify-content: center;
}

.header {
  // position: fixed;
  height: $main-header-height;
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.55);


  a {
    color: $text-color-secondary;
    margin-left: 10px;
  }

  .active-route,
  a:hover {
    transform: translateY(-3px);
    transition: all 0.4s ease-in-out;
    color: $text-color-primary;
    border-bottom: 4px solid;
    border-color: $background-color-accent;
  }
}

.footer {
  height: $main-footer-height;
  box-shadow: 0 -4px 17px -2px rgba(0, 0, 0, 0.35);
}
